Repository guicaulada/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-damage-control, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: v1.22.0
    hooks:
      - id: zizmor

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.11
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v2.3.1
    hooks:
      - id: stylua-github

  - repo: local
    hooks:
      - id: selene
        name: selene
        entry: selene
        language: system
        types: [lua]

      - id: pytest-damage-control
        name: pytest (damage-control)
        entry: >-
          bash -c
          'cd home/dot_claude/exact_hooks/damage-control &&
          uv run --with pytest --with pytest-xdist --with pyyaml pytest tests/ -v -n auto'
        language: system
        pass_filenames: false
        files: ^home/dot_claude/exact_hooks/damage-control/

      - id: eslint
        name: eslint
        entry: npx eslint --fix
        language: system
        types_or: [json, yaml, markdown]

      - id: prettier
        name: prettier
        entry: npx prettier --write --list-different
        language: system
        types_or: [json, yaml, markdown]

chore: use .node-version file for consistent Node.js version
  .github/workflows/lint.yml
  .node-version
Due: eslint, prettier

chore: add .worktrees/ to .gitignore
  .gitignore
Due: none

chore: move linter configs to .github/linters/
  .github/linters/.markdownlint.json
  .github/linters/.stylua.toml
  .github/linters/ruff.toml
  .github/linters/selene.toml
  .github/linters/vim.yml
  .gitignore
  home/.chezmoiignore
  home/.chezmoiscripts/run_onchange_after_brew-bundle.sh.tmpl
  home/.chezmoiscripts/run_onchange_after_gitleaks.sh.tmpl
  home/.gitleaks.toml.tmpl
  home/Brewfile
Due: eslint, prettier

chore: add MegaLinter orchestration config
  .mega-linter.yml
Due: eslint, prettier

chore(pre-commit): replace individual hooks with MegaLinter
  .pre-commit-config.yaml
Due: eslint, prettier

ci(lint): replace individual linters with MegaLinter
  .github/workflows/lint.yml
Due: eslint, prettier

ci: remove standalone gitleaks workflow and linter setup actions
  .github/actions/setup-actionlint/action.yml
  .github/actions/setup-ruff/action.yml
  .github/actions/setup-selene/action.yml
  .github/actions/setup-shellcheck/action.yml
  .github/actions/setup-shfmt/action.yml
  .github/actions/setup-stylua/action.yml
  .github/workflows/gitleaks.yml
Due: eslint, prettier

chore: remove Node.js tooling replaced by MegaLinter
  .node-version
  .prettierignore
  eslint.config.js
  package-lock.json
  package.json
Due: eslint, prettier

fix: tune MegaLinter config for pre-existing issues
  .github/linters/.lychee.toml
  .github/linters/.markdownlint.json
  .mega-linter.yml
Due: eslint, prettier

fix: tune MegaLinter exclusions for remaining issues
  .mega-linter.yml
Due: eslint, prettier

fix: exclude Renovate template URLs from lychee
  .github/linters/.lychee.toml
Due: none

style: apply MegaLinter auto-fixes
  .mega-linter.yml
  home/dot_claude/exact_skills/commit/create.md
  home/dot_claude/executable_statusline.sh
Due: eslint, prettier

fix(markdownlint): lint all markdown files with refined rules
  .github/linters/.markdownlint.json
  .mega-linter.yml
Due: eslint, prettier

chore: inline setup-uv and remove obsolete Renovate manager
  .github/actions/setup-uv/action.yml
  .github/renovate.json
  .github/workflows/test.yml
Due: eslint, prettier

fix(pre-commit): use updated stage names
  .pre-commit-config.yaml
Due: eslint, prettier

chore: pin MegaLinter action and ignore reports
  .github/workflows/lint.yml
  .gitignore
Due: eslint, prettier

chore: disable MegaLinter file-based reporters
  .mega-linter.yml
Due: eslint, prettier

chore: suppress MegaLinter reports entirely
  .gitignore
  .mega-linter.yml
Due: eslint, prettier

chore: remove superpowers plugin from settings
  home/dot_claude/settings.json
Due: eslint, prettier

chore: add DevSkim and Trivy linters to MegaLinter
  .mega-linter.yml
Due: eslint, prettier

chore(lint): optimize MegaLinter from 30 to 20 linters
  .github/linters/ruff.toml
  .github/workflows/lint.yml
  .mega-linter.yml
Due: eslint, prettier

chore(lint): add codespell config and gitignore linter reports
  .codespellrc
  .gitignore
Due: none

style: normalize markdown table separators
  home/dot_claude/exact_agents/deps-reviewer.md
  home/dot_claude/exact_agents/pr-reviewer.md
  home/dot_claude/exact_rules/terminology.md
  home/dot_claude/exact_skills/commit/create.md
  home/dot_claude/exact_skills/create-skill/SKILL.md
  home/dot_claude/exact_skills/create-skill/create.md
  home/dot_claude/exact_skills/create-skill/review.md
  home/dot_claude/exact_skills/design-doc/SKILL.md
  home/dot_claude/exact_skills/design-doc/create.md
  home/dot_claude/exact_skills/impl-plan/SKILL.md
  home/dot_claude/exact_skills/impl-plan/create.md
  home/dot_claude/exact_skills/review-deps/SKILL.md
  home/dot_claude/exact_skills/review-deps/batch.md
  home/dot_claude/exact_skills/review-deps/review.md
  home/dot_claude/exact_skills/review-pr/SKILL.md
  home/dot_claude/exact_skills/review-pr/batch.md
  home/dot_claude/exact_skills/review-pr/review.md
Due: eslint, prettier

chore(lint): add codespell ignore rules for false positives
  .github/linters/.codespellexcludes
  .github/linters/.codespellrc
  home/dot_claude/exact_hooks/damage-control/patterns/cloud/azure.yaml
Due: pytest-damage-control, eslint, prettier

fix(ci): add pull-requests permission and upgrade codeql-action to v4
  .github/workflows/lint.yml
Due: eslint, prettier

fix(ci): add actions permission for codeql-action v4
  .github/workflows/lint.yml
Due: eslint, prettier

fix(ci): pin codeql-action to commit SHA instead of tag object
  .github/workflows/lint.yml
Due: eslint, prettier

fix(ci): enable advanced security for zizmor
  .github/workflows/zizmor.yml
Due: eslint, prettier

fix(markdown): add blank lines between XML tags and lists
  home/dot_claude/exact_agents/deps-reviewer.md
  home/dot_claude/exact_agents/pr-reviewer.md
  home/dot_claude/exact_skills/commit/amend.md
  home/dot_claude/exact_skills/commit/create.md
  home/dot_claude/exact_skills/commit/interactive.md
  home/dot_claude/exact_skills/create-pr/create.md
  home/dot_claude/exact_skills/create-skill/create.md
  home/dot_claude/exact_skills/create-skill/review.md
  home/dot_claude/exact_skills/design-doc/create.md
  home/dot_claude/exact_skills/impl-plan/create.md
  home/dot_claude/exact_skills/issue/create.md
  home/dot_claude/exact_skills/review-deps/batch.md
  home/dot_claude/exact_skills/review-deps/review.md
  home/dot_claude/exact_skills/review-pr/batch.md
  home/dot_claude/exact_skills/review-pr/review.md
Due: eslint, prettier

docs: rewrite README with professional structure
  README.md
Due: eslint, prettier

docs: add security policy
  SECURITY.md
Due: eslint, prettier

feat(tmux): add terminal features, navigation, and session persistence
  home/.chezmoiscripts/run_onchange_after_tpm-install.sh.tmpl
  home/dot_config/tmux/tmux.conf
Due: none

feat(ghostty): add theme sync, clipboard, and quick terminal
  home/dot_config/ghostty/config
Due: none

feat(nvim): add smart-splits for seamless tmux/nvim navigation
  home/dot_config/nvim/lua/config/keymaps.lua
  home/dot_config/nvim/lua/exact_plugins/navigation.lua
Due: none

refactor(nvim): improve treesitter, LSP, and options
  home/dot_config/nvim/lua/config/options.lua
  home/dot_config/nvim/lua/exact_plugins/lsp.lua
  home/dot_config/nvim/lua/exact_plugins/treesitter.lua
Due: none

feat(zsh): fix init order, add plugins, and defer loading
  home/dot_zsh_plugins.txt
  home/dot_zshrc.tmpl
Due: none

feat(starship): add git metrics, colors, and branch format
  home/dot_config/starship.toml
Due: none

fix(starship): move continuation_prompt to root level
  home/dot_config/starship.toml
Due: none

style(starship): restore bold to directory and git_branch
  home/dot_config/starship.toml
Due: none

revert(starship): remove custom styles and branch format
  home/dot_config/starship.toml
Due: none
